<!DOCTYPE html>
<html>
  <head>
    <title>RspecSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- フラッシュメッセージ -->
    <p id="alert"><%= alert %></p>

    <!-- ヘッダー -->
    <header class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <div class="d-flex w-100">
          <div class="ms-auto">
            <% if user_signed_in? %>
              <%= link_to 'ホーム', root_path, class: 'btn btn-outline-primary me-2' %>
              <%= link_to 'ログアウト', destroy_user_session_path, 
                  data: { 
                    "turbo-method": "delete"
                  }, 
                  class: 'logout-link' %>
            <% else %>
              <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-outline-primary me-2' %>
              <%= link_to 'サインアップ', new_user_registration_path, class: 'btn btn-outline-success' %>
            <% end %>
          </div>
        </div>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
